.tweet-wrapper {
    border: 1px solid black;
    padding: 1 rem;
    width: 600px;
    font-size: larger;
}

.likes {
    font-size: xx-small;
}

.tweet-content {
    margin-bottom: 1rem;
}

.like-createdAt-wrapper {
    display: flex;
    justify-content: space-between;
}

.likes,
.created-at {
    font-size: xx-small;
}

.tweet-edit-wrapper {
    display: flex;
    justify-content: space-between;
}